<div class="container">
  
  <%= link_to "https://www.facebook.com/hygor.daniel.18", target: "_blank", class: "contact" do %>
    <%= image_tag "png/facebook29.png" %> 
    <p>FACEBOOK - HYGOR DANIEL</p>
  <% end %>
  
  <%= link_to "https://plus.google.com/110773153646763714085/posts", target: "_blank", class: "contact" do %>
    <%= image_tag "png/plus76.png" %>  
    <p>PLUS - HYGOR DANIEL</p>
  <% end %>

  <%= link_to "https://www.youtube.com/channel/UCalBiDNyB8r4dvWlHT_caKA/feed", target: "_blank", class: "contact" do %>
    <%= image_tag "png/youtube28.png" %> 
    <p>YOUTUBE - HYGOR DANIEL</p>
  <% end %>

</div>